html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

/* right sidebar nav area */
#sidebarNav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    background-color: #354051;
    height: 100%;
    width: 150px;
    color: #8f98a8;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userArea {
    margin: 12%;
}

.nav-button {
    flex-direction: row;
}

.nav-button img {
    filter: invert(100%);
    height: 10%;
    width: 10%;
    margin: 10px;
}

.nav-button p {
    color: white;
    align-items: center;
}

img {
    height: 75px;
    width: 90px;
}

p {
    margin: 0;
}

.nav-panel {
    height: 250px;
    width: 100%;
    color: #5d6b7f;
}

/* top header area */
header {
    display: flex;
    height: 175px;
    width: 100%;
    background-color: white;
}

input {
    width: 100%;
}

button {
    min-width: 70px;
}

/* job title area */

#jobTitleSection {
    justify-content: space-between;
}
.flex {
    display: flex;
}

#jobTitle {
    align-self: flex-start;
}

.row {
    flex-direction: row;
}

.row p {
    margin: 10px;
}

.row button {
    height: 70px;
}

/* tab area */

#tabs {
    display: flex;
    padding: 20px;
}

/* graph area */

#graphArea {
    display: flex;
    height: 200px;
    background-color: #edf2f6;
}

#graphArea section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
}

/* #graphArea section div {
    height: 100%;
    width: 100%;
} */

#graphArea section button {
    height: 20px;
    width: fit-content;
}

/* job description area */

#bottomSection {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #edf2f6;
}

#jobDescription {
    display: grid;
    height: auto;
    width: 70%;
    background-color: white;
}

.job-desc-head,
.job-desc {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.job-desc-head {
    background-color: #6f7e95;
}

.job-desc-head p,
.job-desc p {
    margin-right: 10px;
    min-width: 152px;
}